# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\php packages\google-maps-location-picker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
